<!-- header -->
		<header class="header">
			<div class="header_1">CRUCIO</div>
			<div class="header_2">
				<ul>
					<li id="home">HOME</li>
					<li id="about">ABOUT</li>
					<li id="services">SERVICES</li>
					<li id="team" >TEAM</li>
					<li id="port">PORTFOLIO</li>
					<li id="blog">
						<a href="https://www.google.com/">BLOG</a>
					</li>
					<li id="contact">CONTACT</li>
				</ul>			
			</div>
		</header>
		<div class="background_contant">
			<div class="contant">
				<h1 id="header1">CRUCIO</h1>
				<hr class="hr1">
				<h2 id="header2">POWERFUL WEBSITES</h2> 
				<a href="#about" class="scroll_down">
			  	</a>
			  	<a href="#about" class="scroll_up">
			  	</a>
			</div>
		</div>

		<!-- text1 -->
		<div class="text1">
			<h1>WELCOME TO CRUCIO</h1>
			<h2>WE CREATE AWESOME WEBSITES</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<!-- text2 -->
		<div class="text2">
			<div class="column column1">
				<h1 class="column_h">RESPONSIVE</h1>
				<p class="column_p">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
			</div>
			<div class="column column2">
				<h2 class="column_h">CUSTOMIZABLE</h2>
				<p class="column_p">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
			</div>
			<div class="column column3">
				<h3 class="column_h">MODERN</h3>
				<p class="column_p">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
			</div>	
		</div>

		<!-- services -->
		<div class="services">
			<div id="services1">SERVICES</div>
			<hr class="hr1">
			<div class="services_p">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
		</div>
		<!-- icon -->
		<div class="text3">
			<div class="container">
				<div class="row">
					<div class="col-3">
						<div class="icon">
							<i class="fa fa-desktop" aria-hidden="true"></i>
						</div>	
						<br>
						<p class="text-icon">WEB DESIGN</p>	
					</div>
					<div class="col-3">
						<div class="icon">
							<i class="fa fa-book" aria-hidden="true"></i>
						</div>
						<br>
						<p class="text-icon">BRAND DESIGN</p>
					</div>
					<div class="col-3">
						<div class="icon">
							<i class="fa fa-keyboard-o" aria-hidden="true"></i>
						</div>
						<br>
						<p class="text-icon">UI/UX DESIGN</p>
					</div>
					<div class="col-3">
						<div class="icon">
							<i class="fa fa-paint-brush" aria-hidden="true"></i>
						</div>
						<br>
						<p class="text-icon">
						GRAPHIC DESIGN
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<div class="icon">
							<i class="fa fa-camera" aria-hidden="true"></i>
						</div>
						<br>
						<p class="text-icon">
						PHOTOGRAPHY
						</p>
					</div>
					<div class="col-3">
						<div class="icon">
							<i class="fa fa-camera" aria-hidden="true"></i>
						</div>
						<br>
						<p class="text-icon">
						VIDEO EDITING
						</p>	
					</div>
					<div class="col-3">
						<div class="icon">
							<i class="fa fa-heartbeat" aria-hidden="true"></i>
						</div>
						<br>
						<p class="text-icon">
							DATA ANALYSIS
						</p>	
					</div>
					<div class="col-3">
						<div class="icon">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<br>							
						<p class="text-icon">
							CLIENT ASSISTANTCE
						</p>	
					</div>
				</div>
			</div>	
		</div>

		<!-- text4 -->
		<div class="text4">
			<h1>WE CREATE <B>AWESOME</B> PROJECT</h1>

		<!-- button1 -->
			<button class="button">GET STARTED</button>
		</div>

		<!-- text5	 -->
		<div class="text5">
			<h1>OUR TEAM</h1>
			<hr class="hr1">
		</div>

		<!-- img -->
		<div class="img_content">
			<div class="img_content-child">
				<div class="testimgjs">
					<img src="./image/anh1.jpeg" class="img" >
					<div class="testjs">
						<div class="testtext">
							SAMANTA L.
						</div>
						<div class="testtext1">
							Architect
						</div>
						<div class="logo3_box">
							<div class="logo3">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="img_content-child">
				<div class="testimgjs">
					<img src="anh2.jpeg" class="img" >
					<div class="testjs">
						<div class="testtext">
							PAMELA K.
						</div>
						<div class="testtext1">
							Designer
						</div>
						<div class="logo3_box">
							<div class="logo3">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="img_content-child">
				<div class="testimgjs">
					<img src="anh3.jpeg" class="img" >
					<div class="testjs">
						<div class="testtext">
							MICHEAL J.
						</div>
						<div class="testtext1">
							Planner
						</div>
						<div class="logo3_box">
							<div class="logo3">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</div>
							<div class="logo3">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>	

		<!-- text6	 -->
		<div class="text6">
			<div class="container">
				<div class="row">
					<div class="col-3">
						<div class="text6_h">
						<h1>150</h1>
						<h2>Clients</h2>
						</div>
					</div>
					<div class="col-3">
						<div class="text6_h">
						<h1>620</h1>
						<h2>Projects</h2>
						</div>
					</div>
					<div class="col-3">
						<div class="text6_h">
						<h1>25</h1>
						<h2>Awards</h2>
						</div>
					</div>
					<div class="col-3">
						<div class="text6_h">
						<h1>940</h1>
						<h2>Coffee</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- OUR PORTFOLIO -->
		<div class="text5" id="ourport">
			<h1>OUR PORTFOLIO</h1>
			<hr class="hr1">
		</div>
		
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		   	<li class="nav-item">
		      	<a class="nav-link active" id="tab-javascript" data-toggle="tab"
		        	href="#content-javascript"
		        	role="tab" aria-controls="content-javascript" aria-selected="false">
		      			ALL
		      	</a>
		   	</li>
		   	<li class="nav-item">
		      	<a class="nav-link" id="tab-css" data-toggle="tab"
		        	href="#content-css"
		        	role="tab" aria-controls="content-css" aria-selected="false">
		      			Graphic Design
		      </a>
		   	</li>
		   	<li class="nav-item">
		      	<a class="nav-link" id="tab-bootstrap" data-toggle="tab"
		        	href="#content-bootstrap"
		        	role="tab" aria-controls="content-bootstrap" aria-selected="true">
		      			Web Design
		      	</a>
		   	</li>
		   	<li class="nav-item">
		      	<a class="nav-link" id="tab-web" data-toggle="tab"
		         	href="#content-web"
		         	role="tab" aria-controls="content-web" aria-selected="true">
		      			Web Development
		      	</a>
		   	</li>
		</ul>

		<div class="tab-content" id="myTabContent">
		    <div class="tab-pane fade show active" id="content-javascript"
		      	role="tabpanel" aria-labelledby="tab-javascript">
		      	<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh1.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #1
			      		</div>
			      	</div>	
		      	</div>
		      	<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh2.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #2
			      		</div>
			      	</div>	
		      	</div>
		      	<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh3.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #3
			      		</div>
			      	</div>	
		      	</div>
				<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh4.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #4
			      		</div>
			      	</div>	
		      	</div>
		    </div>
		    <div class="tab-pane fade" id="content-css"
		      	role="tabpanel" aria-labelledby="tab-css">
		      	<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh1.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #1
			      		</div>
			      	</div>	
		      	</div>
		 		<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh4.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #4
			      		</div>
			      	</div>	
		      	</div>
		      	<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh3.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #3
			      		</div>
			      	</div>	
		      	</div>
		      	<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh2.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #2
			      		</div>
			      	</div>	
		      	</div>
		      	<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh1.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #1
			      		</div>
			      	</div>	
		      	</div>
		      	<div style="display: flex !important;width: 360px">
			      	<div class="nghich">
			      		<img src="anh4.jpeg" class="img2">
			      		<div class="projs">
			      			PROJECT #4
			      		</div>
			      	</div>	
		      	</div>
		    </div>
		    <div class="tab-pane fade" id="content-bootstrap"
		      	role="tabpanel" aria-labelledby="tab-bootstrap">
		      	<img src="anh1.jpeg" class="img2">
				<img src="anh2.jpeg" class="img2">
				<img src="anh3.jpeg" class="img2">
				<img src="anh4.jpeg" class="img2">
				<img src="anh1.jpeg" class="img2">
				<img src="anh2.jpeg" class="img2">
				<img src="anh3.jpeg" class="img2">
				<img src="anh4.jpeg" class="img2">
		    </div>
		    <div class="tab-pane fade fade" id="content-web"
		      	role="tabpanel" aria-labelledby="tab-web">
		      	<img src="anh1.jpeg" class="img2">
				<img src="anh2.jpeg" class="img2">
				<img src="anh3.jpeg" class="img2">
				<img src="anh4.jpeg" class="img2">
				<img src="anh1.jpeg" class="img2">
				<img src="anh2.jpeg" class="img2">
				<img src="anh3.jpeg" class="img2">
				<img src="anh3.jpeg" class="img2">
				<img src="anh4.jpeg" class="img2">

		    </div>
		</div>

		
		<!-- button loadmore -->
		<div class="button2_content">
			<button class="button2">LOAD MORE</button>
		</div>

		<!-- subscribe -->
		<div class="subscribe">
			<h1>
				Subscribe To Our Newsletter
			</h1>
			<input type="text" name="newsletter" placeholder="Enter your email..." class="input1">
		</div>

		<!-- button sub -->
		<div class="button2_content">
			<button class="button3">SUBSCRIBE</button>
		</div>

		<!-- text5 -->
		<div class="text4" style="height:3">
			<h1 style="font-size: 24px;
                       font-weight: 500;
                       letter-spacing: 3px;
                       line-height: 1.5;">
                   WANT TO DISCUSS YOUR NEW PROJECT?
            </h1>

		<!-- button Contact us -->
			<button class="button">
				CONTACT US
			</button>
		</div>

		<!-- TESTIMONIALS -->
		<div class="background_contant" style="height:460px!important;flex-direction: column;">
			<div class="contant">
				<h1 id="test">TESTIMONIALS</h1>
				<hr class="hr1" style="background-color:rgb(255,255,255)">
			</div>
			<br>
			<div class="testimonials_p">
			Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</div>
			<div>
				<p class="mini">-John K.-</p>
			</div>
		</div>

		<!-- logo -->
		<div class="logo_background">					<div class="logo">
				<i class="fa fa-cogs" aria-hidden="true"></i>
			</div>
			<div class="logo">
				<i class="fa fa-bicycle" aria-hidden="true"></i>
			</div>
			<div class="logo">
				<i class="fa fa-briefcase" aria-hidden="true"></i>
			</div>
			<div class="logo">
				<i class="fa fa-bug" aria-hidden="true"></i>
			</div>
			<div class="logo">
				<i class="fa fa-car" aria-hidden="true"></i>
			</div>
			<div class="logo">
				<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
			</div>
		</div>

		<!-- contact -->
		<div class="contact">
			<p>CONTACT</p>
			<hr class="hr1">
		</div>

		<!-- address phone email -->
		<div class="profile">
			<div class="profile_1">
				<h1>ADDRESS</h1>
				<h2>123 Street, New York (USA)</h2>
			</div>
			<div class="profile_1">
				<h1>PHONE</h1>
				<h2>+123 456 789</h2>
			</div>
			<div class="profile_1">
				<h1>EMAIL</h1>
				<h2 style="color:#ad00ff;cursor:pointer">info@myemail.com</h2>
			</div>
		</div>

		<!-- input name email -->
		<div class="input_3">
			<input type="text" name="name" placeholder="Name *" class="input_fix">
			<input type="text" name="email" placeholder="Email *" class="input_fix">
		</div>

		<!-- input message -->
		<div>
			<textarea rows="10" cols=40 name="comment" class="textarea">Message*</textarea>
		</div>

		<!-- button send -->
		<div class="send_box">
			<button class="button_send">SEND</button>
		</div>
		<!-- footer -->
		<div class="footer">
			<p style="margin-bottom:40px">CRUCIO</p>
			<div class="logo2_box">
				<div class="logo2">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
				</div>
				<div class="logo2">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</div>
				<div class="logo2">
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</div>
				<div class="logo2">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</div>
				<div class="logo2">
					<i class="fa fa-linkedin-square" aria-hidden="true"></i>
				</div>
				<div class="logo2">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</div>
			</div>	
		</div>

		<div class="last">
			<p>© 2017. Crucio. All Rights Reserved.</p>
		</div>